body {
    background: rgb(255, 212, 19);
    color: #111;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
}
h1 {
    font-size: 20px;
    line-height: 24px;
}
h2 {
    font-size: 18px;
    line-height: 22px;
}
h3 {
    font-size: 16px;
    line-height: 20px;
}
a {
    background-color: inherit;
    color: #996;
}
blockquote {
    background-color: inherit;
    color: rgb(117, 98, 12);
    font: italic 15px "Time New Roman", serif;
    border-left: 10px solid rgb(255, 212, 19);
    padding: 2px 15px;
}
#wrapper {
    background: rgb(255, 250, 250);
    padding: 10px;
    margin: 1% auto;
    width: 90%;
    border-radius: 8px;
}
#wrapper-profile {
    background: rgb(255, 250, 250);
    padding: 10px;
    margin: 1% auto;
    width: 90%;
    border-radius: 8px;
    justify-content: center;
}

#profile-bg {
    margin-top: 10px;
    margin-left: 15px;
    background-position: center center;
    padding: 10px;
    width: 96%;
    padding-bottom: 20px;
    height: 280px;
    border: 0px;
    color: #fff;
    background-image: url(/images/bg-test.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    position: relative;
    text-align: left;
}

#user-pfp {
    position: absolute;
    bottom: -50px;
    margin-left: 20px;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    border: 3px solid white;
    overflow: hidden;
}

#user-pfp img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50%;
}

#user-name {
    margin-left: 20px;
    margin-top: 380px;
    font-size: 28px;
    font-weight: bold;
    color: #000000;
}

#user-deets {
    margin-left: 20px;
    font-size: 16px;
    font-weight: lighter;
    color: #000000;
}

#banner {
    position: relative;
    padding: 10px;
    padding-bottom: 20px;
    height: 350px;
    border: 0px;
    color: #fff;
    background-image: url(/images/banner-bg.png);
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 8px;
}
#banner h1 {
    font-size: 32px;
}
#banner h1 em {
    font-style: normal;
    text-decoration: none;
    color: #ffffff;
}
ul#topnav {
    list-style-type: none;
    margin: 0 0 0 1%;
    display: table;
    padding: 0;
    width: 60%;
    position: top;
    bottom: 0;
}
ul#topnav li {
    display: table-cell;
    text-align: center;
}
ul#topnav li a {
background-color: rgb(255, 212, 19);
    color: rgb(8, 8, 8);
    border: none;
    display: block;
    margin-right: 5px;
    padding: 5px 0px;
    text-decoration: none;
    font-size: 12px;
}
ul#topnav li a.active,
ul#topnav li a.active:hover {
    background: #fff;
    color: #333;
}
ul#topnav li a:hover {
    background: #cc9;
    color: #111;
}
#layout {
    display: flex;
}

#sidebar {
    background: #fff;
    float: right;
    width: 200px;
    padding: 15px;
    font-size: 12px;
}
#sidebar-left {
    background: #fff;
    float: left;
    width: 200px;
    padding: 15px;
    font-size: 12px;
}

#sidebar1 {
    margin-top: 180px;
    background: #fff;
    float: right;
    width: 200px;
    padding: 15px;
    font-size: 12px;
}
#sidebar-left1 {
    margin-top: 180px;
    background: #fff;
    float: left;
    width: 200px;
    padding: 15px;
    font-size: 12px;
}

#sidebar1 h2 {
    background-color: inherit;
    color: #996;
    font:  normal 16px Arial, sans-serif;
    border-bottom: 2px solid rgb(212, 166, 13);
    padding:  8px 0 5px 0;
}
#sidebar-left1 h2 {
    background-color: inherit;
    color: #996;
    font:  normal 16px Arial, sans-serif;
    border-bottom: 2px solid rgb(212, 166, 13);
    padding:  8px 0 5px 0;
}

#sidebar1 ul {
    list-style: none;
    padding: 2px;
    margin: 0;
}
#sidebar-left1 ul {
    list-style: none;
    padding: 2px;
    margin: 0;
}

#sidebar1 ul li {
    list-style-position: inside;
    padding: 0 0 10px 20px;
    text-indent: 1px;
}

#sidebar1 ul li a {
    background-color: inherit;
    color: #333;
    text-decoration: none;
    padding: 5px 2px;
    display: block;
}

#sidebar1 ul li a:hover {
    background-color: #cc9;
    color: #fff;
}

#sidebar1 ul li a::before {
    content: "\00BB";
    color: #996;
}


#sidebar h2 {
    background-color: inherit;
    color: #996;
    font:  normal 16px Arial, sans-serif;
    border-bottom: 2px solid rgb(212, 166, 13);
    padding:  8px 0 5px 0;
}
#sidebar-left h2 {
    background-color: inherit;
    color: #996;
    font:  normal 16px Arial, sans-serif;
    border-bottom: 2px solid rgb(212, 166, 13);
    padding:  8px 0 5px 0;
}

#sidebar ul {
    list-style: none;
    padding: 2px;
    margin: 0;
}
#sidebar-left ul {
    list-style: none;
    padding: 2px;
    margin: 0;
}

#sidebar ul li {
    list-style-position: inside;
    padding: 0 0 10px 20px;
    text-indent: 1px;
}

#sidebar ul li a {
    background-color: inherit;
    color: #333;
    text-decoration: none;
    padding: 5px 2px;
    display: block;
}

#sidebar ul li a:hover {
    background-color: #cc9;
    color: #fff;
}

#sidebar ul li a::before {
    content: "\00BB";
    color: #996;
}

#content {
    text-align:left;
    padding: 20px;
    margin-right: 245px;
}

#content1 {
    margin-top: 180px;
    text-align:left;
    padding: 20px;
    margin-right: 245px;
}

#content1 h1 {
    font: normal 18px Arial, sans-serif;
}
#content1 ul li::before {
    content: "\00BB";
    color: #996;
}
#content1 ul {
    list-style: none;
}


#content h1 {
    font: normal 18px Arial, sans-serif;
}
#content ul li::before {
    content: "\00BB";
    color: #996;
}
#content ul {
    list-style: none;
}
#footer {
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;
    height: 20px;
    color: #333;
    font-size: 12px;
    background: #c2c1c1;
    clear: both;
    border-radius: 8px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav-container {
    position: fixed;
    top: 16px;
    left: 16px;
}

.back-btn {
    display: inline-block;
    padding: 10px 16px;
    background-color: #252771; /* Blue background */
    color: white;
    text-decoration: none;
    border-radius: 8px; /* Rounded corners */
    font-size: 10px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: #252771; /* Darker blue on hover */
}

